* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
}

html { scroll-behavior: smooth; }

body {
  background: #f5f9ff;
  color: #1f2933;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #061b33;
  padding: 15px 30px;
  position: sticky;
  top: 0;
}

.logo { color: #60a5fa; font-size: 16px; }

.nav-menu {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav-menu a { color: white; text-decoration: none; }

.menu-toggle { display: none; flex-direction: column; gap: 5px; cursor: pointer; }
.menu-toggle span { width: 25px; height: 3px; background: white; }

.hero {
  background: linear-gradient(135deg, #061b33, #1d4ed8);
  color: white;
  padding: 100px 20px;
}

.hero-content {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #93c5fd;
}

section { padding: 70px 20px; text-align: center; }

.skills, .projects, .certificate-list, .experience-list {
  display: grid;
  gap: 15px;
  max-width: 900px;
  margin: auto;
}

/* BUTTON MODERN */
.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 28px;
  background: white;
  color: #1d4ed8;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid white;
  transition: 0.3s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.btn.outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.25);
}


.skills div, .card, .experience-card, .certificate-card {
  background: white;
  padding: 20px;
  border-radius: 16px;

  .certificate-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.certificate-card img:hover {
  transform: scale(1.05);
}

}

.contact { background: #061b33; color: white; }

.fade { opacity: 0; transform: translateY(30px); transition: 0.8s; }
.fade.show { opacity: 1; transform: translateY(0); }

.dark { background: #020617; color: white; }
.dark .navbar, .dark .contact { background: #020617; }
.dark .card, .dark .skills div, .dark .experience-card, .dark .certificate-card {
  background: #071025;
  color: white;
}

@media (max-width:768px) {
  .menu-toggle { display: flex; }

  .nav-menu {
    position: absolute;
    top: 60px;
    right: 20px;
    background: #061b33;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    display: none;
  }

  .nav-menu.show { display: flex; }
}
